html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: pink;
  position: relative;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

header, footer {
  text-align: center;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

footer {
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0px;
  background-color: rgba(255,255,255,0.5);
}

footer a:link, footer a:visited {
  line-height: 2em;
  text-decoration: none;
  color: gray;
}

footer:hover {
  background-color: rgba(255,255,255,0.6);
}


/* COMICS READER CONTROLS */

#controls-container {
  width: 60vmin;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
}

#controls-container > * {
  margin: 1em;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.controls-nav {
  padding: 10px 2em;
  border-radius: 5px;
  color: white;
  background-color: rgba(50,50,50,0.5);
}

.controls-nav:hover {
  background-color: rgba(50,50,50,0.8);
}

.controls-size {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 1px solid gray;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-size:hover {
  background-color: white;
  border: white;
  color: rgba(50,50,50,0.5);
}


/* COMICS READER CONTENTS */

#comics-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  overflow-y: scroll;
  background-color: rgba(250, 215, 221, 0.5);
}

.comic {
  margin: 2em 1em;
  padding: 2em 1em;
}

.comic img {
  width: 100%;
}

.title {
  font-size: 1.5em;
}